html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.dvReportsForm{
    display: inline-block;
 
 
}

.dvReports {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col col-lg-2{
    margin-left: -3em;
}