@model AdminViewModel

@{
    ViewData["Title"] = $"Welcome to your Panel";
}

<div class="container text-center">
    <div class="row">
        <div class="col col-lg-2">
            <nav class="nav flex-column">
                <a class="nav-link bg-outline-success" id="EditFood" href="#" runat="server">Mange Food</a>
                <a class="nav-link bg-outline-success" id="EditProduct" href="#" runat="server">Manage Users</a>
                <a class="nav-link bg-outline-success" id="OrderClick" href="#" runat="server">Orders Active Right Now</a>
                <a class="nav-link bg-outline-success" id="reports" href="#" runat="server">Reports</a>
            </nav>
        </div>
        <div class="col">
            <div id="dvUserdetails" style="display:none">
                <partial name="_Users" />
            </div>
            <div id="Orders" style="display:none">
            
            </div>
            <div id="dvProductDetails" style="display:none">
                <partial name="_Products" />
            </div>
            <canvas id="dvReports" style="display:none">
                
            </canvas>
             
                <div id="OrderResults" style="display:none"></div>
             

        </div>
    </div>
</div>
@section Scripts
    {

    <script>

    $(document).ready(function () {
            
            $('#EditFood').click(function () {
                $('#OrderResults').hide();
                $('#dvReports').hide();
                $('#dvUserdetails').hide();
                $('#dvProductDetails').show();
        });

            $('#EditProduct').click(function () {
                $('#OrderResults').hide();
                $('#dvReports').hide();
                $('#dvUserdetails').show();
                $('#dvProductDetails').hide();
            });
            
            $("#OrderClick").click(function (e) {
                $('#OrderResults').show();
                $('#dvReports').hide();
                $('#dvUserdetails').hide();
                $('#dvProductDetails').hide();
                    $.ajax({
                        type: "POST",
                    url: "/Order/OrdersFromAll",
                        contentType: "application/json; charset=utf-8",
                        data: '{}',
                        dataType: "html",
                        success: function (result, status, xhr) {
                        $("#OrderResults").html(result);
                        },
                        error: function (xhr, status, error) {
                        $("#OrderResults").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                        }
                    });
                
                
            });

    });

    </script>

}