
<form asp-controller="Add" asp-action="Product" method="get">
    <input class="btn btn-success mb-2 w-100 p-3 fw-bold" type="submit" value="Add Product" />
</form>
<form asp-controller="Add" asp-action="Category" method="get">
    <input class="btn btn-danger mb-2 w-100 p-3 fw-bold" type="submit" value="Add Category" />
</form>