@model AdminViewModel

@{
    ViewData["Title"] = $"Welcome to your Panel";
}

<div class="container text-center">
    <div class="row">
        <div class="col col-lg-2">
            <nav class="nav flex-column">
                <a class="nav-link bg-outline-success" id="EditFood" href="#" runat="server">Mange Food</a>
                <a class="nav-link bg-outline-success" id="EditProduct" href="#" runat="server">Manage Users</a>
                <a class="nav-link bg-outline-success" href="#" runat="server">Orders Active Right Now</a>
                <a class="nav-link bg-outline-success" id="liveOrders" href="#" runat="server">Reports</a>
            </nav>
        </div>
        <div class="col">
            <div id="dvUserdetails" style="display:none">
                <partial name="_Users" />
            </div>
            <div id="Orders" style="display:none">
            
            </div>
            <div id="dvProductDetails" style="display:none">
                <partial name="_Products" />
            </div>
            <div id="dvReports" style="display:none">
                
            </div>

        </div>
    </div>
</div>
@section Scripts
    {

    <script>

    $(document).ready(function () {
            $('#EditFood').click(function () {

                $('#dvUserdetails').hide();
                $('#dvProductDetails').show();
        });

            $('#EditProduct').click(function () {

                $('#dvUserdetails').show();
                $('#dvProductDetails').hide();
            });
    });

    </script>
    <script>

        $(document).ready(function () {
            $('#liveOrders').click(function () {
                $('#Orders').Show();
                $.ajax({
                    url: '~/Orders/Chef',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'
                })
                    .success(function (result) {
                        $('#Orders').html(result);
                    })
                    .error(function (xhr, status) {
                        alert(status);
                    });
                $('#dvUserdetails').hide();
                $('#dvProductDetails').hide();
            });

             
        });

    </script>
}